@media (max-width: 768px) {
  main {
    flex-direction: column !important;
  }

  aside {
    width: 100% !important;
    max-height: 40vh;
    border-right: none !important;
    border-bottom: 1px solid var(--color-surface-dark);
  }
}
